<nb-layout>
    <nb-layout-header fixed>
        <button nbButton status="danger" ghost (click)="toggleSidebar()"><nb-icon icon="bar"></nb-icon></button>
        <nb-user>
            
        </nb-user>
    </nb-layout-header> 
<nb-sidebar responsive tag="sidebar">
    <h5 class="mt-5">Categories</h5>
    <hr>
    <nb-checkbox>Weapons</nb-checkbox><br>
    <nb-checkbox>Cars</nb-checkbox><br>
    <nb-checkbox>Buildings</nb-checkbox>

    <h5 class="mt-5">Filters</h5>
    <hr>
    <nb-checkbox>Free</nb-checkbox><br>
    <nb-checkbox>Paid</nb-checkbox><br>

    <button class="mt-5" nbButton status="success" size="small">Apply</button>

</nb-sidebar>
<nb-layout-column>
    <nb-search type="rotate-layout"></nb-search>
    <div class="row">
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-3 mt-5">
            <nb-card>
                <nb-card-body>
                    <img style="width: 100%;" src="https://i.ytimg.com/vi/IvLLwmdUtlk/maxresdefault.jpg" alt="">
                    <p class="h5 mt-3">KV-1</p>
                    <p>Russian Heavy Tank</p>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    </nb-layout-column>
</nb-layout>