<nb-layout>
    <nb-layout-header>
        <p class="display-4">
            Hey Hello
        </p>
        <nb-search type="rotate-layout" tag="rotate-layout"></nb-search>
    </nb-layout-header>

    <nb-layout-column>
        <nb-card status="warning" accent="danger">
            <nb-card-header>
                header
            </nb-card-header>
            <nb-card-body>
                <p>please</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column>

    </nb-layout-column>
    <nb-layout-column>
        <p>please</p>
    </nb-layout-column>



    <div class="row">
        <div class="col-md-5">
            <nb-card status="warning" accent="danger">
                <nb-card-header>
                    header
                </nb-card-header>
                <nb-card-body>
                    <p>please</p>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</nb-layout>